@using System.Threading
@using System.Web.Optimization
@using Abp.Timing
@using Abp.Web.Mvc.Extensions
@{
    SetAntiForgeryCookie();
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>GDN</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="shortcut icon" href="~/favicon.ico">


    @Styles.Render("~/css/common.min.css")

    <!-- View specific styles -->
    @RenderSection("styles", required: false)

    <script type="text/javascript">
        //This is used to get the application's root path from javascript. It's useful if you're running application in a virtual directory under IIS.
        var abp = abp || {};
        abp.appPath = '@ApplicationPath';
    </script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="@Url.Content("~/Scripts/others/html5shiv.js")"></script>
        <script src="@Url.Content("~/Scripts/others/respond.min.js")"></script>
    <![endif]-->

    <script src="~/js/commonJsTop.min.js"></script>
</head>
<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
        <!-- Main header -->
        <header class="main-header">@{ Html.RenderAction("Header", "Layout"); }</header>

        <!-- Left side column. contains the logo and sidebar -->
        <aside class="main-sidebar">@{ Html.RenderAction("MainSidebar", "Layout"); }</aside>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            @RenderBody()
        </div>

        <!-- Main footer -->
        <footer class="main-footer">@{ Html.RenderAction("Footer", "Layout"); }</footer>

        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">@{ Html.RenderAction("ControlSidebar", "Layout"); }</aside>
        <!-- Add the sidebar's background. This div must be placed immediately after the control sidebar -->
        <div class="control-sidebar-bg"></div>
    </div>

    <script src="~/js/commonJsBottom.min.js"></script>

    <script>
    //Localizing momentjs
    moment.locale('@Thread.CurrentThread.CurrentUICulture.Name');
    </script>

    <!-- View specific scripts -->
    @RenderSection("scripts", required: false)

</body>
</html>
